.container {
  padding: 32px;
  max-width: 1440px;
  margin: 0 auto;
}

.heroTitle {
  font-weight: 500;
  font-size: 90px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;

  margin: 0;
  margin-bottom: 243px;
  padding-top: 122px;
}

.socialList {
  display: flex;
  justify-content: end;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 18px;
}

.socialLink {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 20px;
  width: 55px;
  height: 55px;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;

  text-decoration: none;
}

.socialLink:hover {
  border: 1px solid #fafafa;
  transition: border 0.5s ease;
}
