@font-face {
  font-family: 'myCustomFont';
  src: url('/public/fonts/InterTight-Medium.ttf') format('ttf'),
    url('/public/fonts/InterTight-SemiBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
